body { background: #a08c90; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 34px; display: flex; }
.block-product-0 { color: #89ceff; font-size: 16px; margin-bottom: 5px; }
.block-sms-1 { color: #c26eb5; font-size: 17px; margin-bottom: 5px; }
.block-cluster-2 { color: #e70e6e; font-size: 16px; margin-bottom: 5px; }
.block-notify-3 { color: #3b4e20; font-size: 19px; margin-bottom: 5px; }
.block-auth-4 { color: #76cd66; font-size: 16px; margin-bottom: 5px; }
.block-email-5 { color: #a4bb7d; font-size: 21px; margin-bottom: 5px; }